.header {display: flex;
height: 100px;
background-color: aquamarine;}

.titulo-1 {font-size: 40px;}

.ancoras { text-decoration: none;}

.flex-end {display: flex;
justify-content: flex-end;}

.conteudo-1 { display: flex;
flex-direction: column;
width:500px ;
background-color: bisque;
height: 100px;}

.img-1 { display: flex;
flex-direction: row;}

.flex-direction-row { display: flex;
flex-direction: row;}

.imagem-1 {width: 25em;
height: 25em;}

.encurtador { background-color: purple;
width: 45em;
height: 7em;
display: flex;}

.input-1 {width: 30em;
height: 2.3em;
align-self: center;}

.button-1 {width: 12em;
    height: 2.3em;
background-color: aquamarine;
border: none;
color: white;
border-radius: 0.5em;
align-self: center;}

.advanced-statistics {display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
height: 150px;}

.diagonal {display: flex;
gap: 15px;
background-color: blue;
height: 20em;}

.div-diagonal {width: 250px;
height: 150px;
background-color: rosybrown; ;}